.signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  .signup-form {
    .signup-input {
      display: block;
      width: 300px;
      padding: 5px 10px;
      border: 2px solid #000;
      border-radius: 6px;
      transition: 0.3s ease-in-out;
    }

    .signup-input:focus {
      border-color: #2758b3;
    }

    .signup-input {
      margin-bottom: 30px;
    }

    .signup-submit-btn {
      width: 100px;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 8px;
      background-color: #2f0ea5;
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    .signup-submit-btn:hover {
      background-color: darken(#2f0ea5, 10%);
    }
  }
}
